.titre1{

background-color: yellow;
padding: 20px;
border: 3px solid black;
border-radius:  3px;
text-align: center;



}

nav{
    margin-left: 10%;
    margin-right: 10%;
}

header{
    margin-bottom: 100px;
    
}






.block1{

float: left;
width: 33.33%;
    background-color: orangered;
    padding: 10px;
    border: 3px solid black;
    border-radius: 3px;
    text-align: center;
    margin: 10px;
    
    

}

    .block5{

        background-color: yellow;
        padding: 10px;
        border: 3px solid black;
        border-radius: 3px;
        text-align: center;}



        
            
            
            .block2{
                float: left;
                background-color: orangered;
                padding: 10px;
                border: 3px solid black;
                border-radius:  3px;
                text-align: center;
                margin: 10px;
            }
            
                .block7{
            
                    
                    background-color: yellow;
                    padding: 10px;
                    border: 3px solid black;
                    border-radius: 3px;
                    text-align: center;}


                    
                        
                        
                        .block3{
                            float: left;
                            width: 33.33%;
                            background-color: orangered;
                            padding: 10px;
                            border: 3px solid black;
                            border-radius: 3px;
                            text-align: center;
                        margin: 10px;}
                        
                            .block9{
                        
                                background-color: yellow;
                                padding: 10px;
                                border: 3px solid black;
                                border-radius: 3px;
                                text-align: center;}

                                .certification{
                        
                                    background-color: yellow;
                                    padding: 10px;
                                    border: 3px solid black;
                                    border-radius: 3px;
                                    text-align: center;
                                margin-top: 500px}