body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

center {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

table th {
    background-color: #f4a261; /* Couleur orange pour l'en-tête */
    color: white;
    text-transform: uppercase;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

input[type="text"] {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

input[readonly] {
    background-color: #f9f9f9;
    color: #555;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #2a9d8f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #21867a;
}

button:active {
    background-color: #1b665e;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.facture-container {
    width: 80%;
    margin: 20px auto;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color:orange;
    color: white;
    padding: 20px;
}

.company-info {
    text-align: left;
}

.company-name {
    font-size: 1.5em;
    font-weight: bold;
}

.invoice-info {
    text-align: right;
}

.facture-title {
    font-size: 2em;
    font-weight: bold;
}

.details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f7f9f9;
}

.section-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.footer {
    text-align: center;
    background-color: #d9edf7;
    color: #333;
    padding: 10px;
    font-size: 0.9em;
}
