@media screen and (min-width: 760px){
body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 80%;
    
    margin: auto;
    border: 5px solid #3388CC;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.80);
}

.photo-candidat img{
    max-width: 300px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: red;
    
}

section{
    display: flex;
    align-items: center;
}




ul li{
    list-style: none;
    margin: 20px;
}

h2{
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a, h3{
    color: white;
    padding: 5px;
}
}




@media screen and (max-width: 480px)
{
    body{
        font-family: Arial, Helvetica, sans-serif;
        max-width: 80%;
        
        margin: auto;
        border: 5px solid #3388CC;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.80);
    }
    
    .photo-candidat img{
        max-width: 300px;
    }
    
    header{
        display: flex;
        justify-content: space-between;
        background-color: red;
        
    }
    
    section{
        display: flex;
        align-items: center;
    }
    
    
    
    
    ul li{
        list-style: none;
        margin: 20px;
    }
    
    h2{
        background-color: rgb(240, 240, 240);
        padding: 10px;
    }
    
    footer{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    footer a, h3{
        color: white;
        padding: 5px;
    }
    }